.perfomence {
    height: 600px;
    &__tittle {
        font-family: TTNorms;
        font-size: 34px;
        font-weight: bold;
        line-height: 1.18;
        text-align: center;
        color: #363636;
        margin-bottom: 30px;
    }
    &__table {
        max-width: 700px;
        margin:0 auto;
        &--tittle {
            font-family: TTNorms;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
            color: white;
            background-color:#a3c8e2;
        }
        &--first {
            padding:20px 0 20px 10px;
            display: flex;
            align-items: center;
        }
        &--tier1{
            background-color: #edf4f9;
        }
        &--tier3{
            background-color: #edf4f9;
            padding: 20px 0 20px 0;
        }
        &--styleText {
            font-family: TTNorms;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.25;
            color:black;
            padding: 20px 10px 20px 10px;
        }
        &--list {
           padding:10px 0 10px 15px
        }
    }
}
.fotorama__html {
    margin-left: auto;
    margin-right: auto; 
}
.slider .fotorama__stage {
  height: 370px !important;
}
.slider .fotorama__wrap{
    width: 100% !important;
}
.fotorama__nav__frame.fotorama__nav__frame--dot {
    display: inline-block;
}
.slider .fotorama__arr.fotorama__arr--next {
    opacity: 0;
}
.slider .fotorama__arr.fotorama__arr--prev{
    opacity: 0;
}
@media(max-width:767px) {
    .perfomence {
        &__tittle {
            font-size: 28px;
            line-height: 1.36;
        }
        &__table {
            margin:0 auto;
            &--tittle {
                font-family: TTNorms;
                font-size: 10px;
                font-weight: bold;
                line-height: 1;
                color: white;
                background-color:#a3c8e2;
            }
            &--tier3{
                background-color: #edf4f9;
                padding: 20px 0 20px 0;
            }
            &--styleText {
                font-family: TTNorms;
                font-size: 10px;
                font-weight: 500;
                line-height: 1.25;
                color:black;
                padding: 20px 10px 20px 10px;
            }
            &--list {
               padding:10px 0 10px 15px
            }
        }
    }
}